
$lighter-purple: #ce199a;

$darker-purple: #8b179c;

$gold-one:  #fbb800;

$gold-two : #fa850d;

$innerbox-one : #e452b7;
$alternate-color : #d10056;


$font-one: "Montserrat", sans-serif;

$font-two: "Roboto Mono", sans-serif;


